*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.others button{
    border: none;
}
.others button img{
    width: 15px;
    height: 15px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    text-align: center;
}
.logo{
    flex: 1;

}
.menu{
    flex: 3;
    display: flex;
}
.menu li{
    padding: 0 12px;
}
.others{
    flex: 2;
    display: flex;
}
.others li{
    padding: 0 10px;
}
.others > li:first-child{
    position: relative;
}
.others li:first-child input {
    border: none;
    outline: none;
   border-bottom: 1px solid #333;
}
/* .others > li :first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
} */
.others > li:first-child button{
    position: absolute;
    right:  15px;
   
}